<div class="main-container">
  <%= render 'partials/shared/navbar' %>

  <div class="container-fluid">
    <h1>Events</h1>
    
    <div class="row">
      <h3>Upcoming Events</h3>
      <div class="panel-group cards">
        <%= render 'partials/events/future_events' %>
      </div>
    </div>
    
    <div class="row">
      <h3>Past Events</h3>
      <div class="panel-group cards">
        <%= render 'partials/events/past_events' %>
      </div>
    </div>
    
  </div>
</div>